* {
  margin: 0;
  padding: 0;
}
.inscription {
  margin-top: 100px;
}
.inscription form {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  margin: auto;
  background-color: crimson;
}
.inscription form input {
  width: 80%;
  margin: auto;
  height: 34px;
  margin-top: 14px;
  padding-left: 20px;
  background-color: crimson;
  color: white;
  font-size: 16px;
  border: none;
  border-bottom: 4px solid white;
}
.inscription form #submit {
  background-color: cadetblue;
  border: none;
  margin-bottom: 22px;
  padding-left: 0;
  transition: all 0.3s;
}
.inscription form #submit:hover {
  padding-left: 20px;
}
.inscription form #submit:active {
  background-color: white;
}
.inscription form a {
  text-align: center;
  margin-bottom: 15px;
  color: white;
  text-decoration: none;
}
.inscription form a:hover{
    color: teal;
}